<html>
    <head>
        <title>出错了！- Silky</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>OOPS!!!</h1>
        <h2>好像有点不对，整个系统都不好了</h2>
        <p style="color: red;">
            {{message}}
        </p>
    </body>
</html>