<!--头部文件-->
<header>
    <menu>
        <li><a href="/">主页</a></li>
        <li><a href="http://silky.wvv8oo.com/" target="_blank">官方博客</a></li>
        <li><a href="https://www.npmjs.org/package/silky" target="_blank">Silky On NPM</a></li>
        <li><a href="https://github.com/wvv8oo/silky" target="_blank">Silky On Github</a></li>
    </menu>
</header>