<!--头部文件-->
<header>
    <menu>
        <li>主页</li>
        <li>关于Silky</li>
        <li>API</li>
    </menu>
</header>

<script dependencies="lib:jquery" combine="true">
    var code = "tes"
</script>